.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 100px
}

.logo {
    width: 150px;
    height: 150px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.theme-btn {
    padding: 10px 20px;
    background-color: var(--color-dark-purple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}