.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 0 100px;
    margin: 0 auto;
}

h1 {
    color: var(--color-yellow);
}

h1 span {
    padding-right: 8px;
    color: var(--color-coldDark-purple);
}

p {
    margin-top: 16px;
    font-size: 32px;
    color: var(--color-yellow);
}

.animation {
    display: flex;
    gap: 100px;
    margin-top: 32px;
}

.animation__item {
    width: 500px;
    height: 250px;
    background-color: var(--color-coldDark-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-yellow);
    font-size: 24px;
    animation: move 2s linear infinite alternate;
}