.experience {

  .workExperience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
  }

  .experienceList {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  .experienceItem {
    width: 1200px;
    padding: 50px;
    border-radius: 50px;
    background-color: var(--color-coldDark-purple);
    box-shadow: var(--color-white) 0px 0px 10px;

    @media (max-width: 1440px) {
      max-width: 1080px;
      width: 100%;
    }

    @media (max-width: 992px) {
      max-width: 768px;
      width: 100%;
    }
  }

  .experienceTitle {
    color: var(--color-white);
    font-size: 32px;
  }

  .experiencePosition {
    color: var(--color-yellow);
    font-size: 24px;
  }

  .experienceDates {
    color: var(--color-coldDark-purple);
    font-size: 18px;
    padding: 10px 30px;
    background-color: var(--color-white);
    width: fit-content;
    border-radius: 30px;
  }

  .experienceDescription {
    color: var(--color-white);
    font-size: 18px;
    max-width: 1000px;
  }

  .experienceTechnologies {
    padding: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .itemIcon {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
}
